{% extends "layout.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p class="lead">
                    This page is a log of all the changes made to the shredder since Dec 25, 2017.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style="width: 120px;">Date</th>
                            <th>Change</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Jan 7, 2018</td>
                            <td>
                                Fixed an error where the default karma exclude value caused nothing to be deleted.
                                Fixed link on front page, now it links to the Reddit authorization page.
                            </td>
                        </tr>
                        <tr>
                            <td>Jan 3, 2018</td>
                            <td>
                                Added error handling to authorize_callback requests. Now, if a user clicks 'deny' an
                                appropriate error message is shown.
                            </td>
                        </tr>
                        <tr>
                            <td>Jan 3, 2018</td>
                            <td>
                                Added favicon and app manifest.
                            </td>
                        </tr>
                        <tr>
                            <td>Jan 3, 2018</td>
                            <td>
                                Another major update: all profile forms are now dynamic, and the ability to manually
                                delete your ORS account has been added. The index page has been brushed up. I'd like
                                to thank an anonymous Reddit user for their detailed and thorough QA work on the site
                                and its design.
                            </td>
                        </tr>
                        <tr>
                            <td>Jan 2, 2018</td>
                            <td>
                                Total restructure of the manual shredder to accommodate the new internal API system.
                                More info on this change is available at <a
                                    href="https://github.com/simeon4110/reddit-shredder-master">
                                https://github.com/simeon4110/reddit-shredder-master</a>. The new manual shredder
                                can be used by registered users as well as un-registered users.
                            </td>
                        </tr>
                        <tr>
                            <td>Jan 1, 2018</td>
                            <td>
                                Re-built the Reddit API hander into a fully stateless internal API. This allows for
                                AJAX use in the front-end (i.e. fancy loading screens.)
                            </td>
                        </tr>
                        <tr>
                            <td>Dec 31, 2017</td>
                            <td>
                                Added link in top menu to github error reporting page.
                            </td>
                        </tr>
                        <tr>
                            <td>Dec 31, 2017</td>
                            <td>
                                Fixed issue where all Reddit tokens were being verified dozens of times per operation.
                            </td>
                        </tr>
                        <tr>
                            <td>Dec 30, 2017</td>
                            <td>
                                Removed unneeded cache clearing from exclusions.
                            </td>
                        </tr>
                        <tr>
                            <td>Dec 30, 2017</td>
                            <td>
                                Added custom error handling to take care of Reddit API authorization errors, and errors
                                related to remote problems (i.e. issues on Reddit's end.)
                            </td>
                        </tr>
                        <tr>
                            <td>Dec 30, 2017</td>
                            <td>
                                Fixed sessions issues, added manual session purging, ensure sessions are purged on
                                browser close.
                            </td>
                        </tr>
                        <tr>
                            <td>Dec 30, 2017</td>
                            <td>Total reformat of shredder page to provide clarity of use and instructions.</td>
                        </tr>
                        <tr>
                            <td>Dec 30, 2017</td>
                            <td>Added a number of recommendations from an anonymous user.</td>
                        </tr>
                        <tr>
                            <td>Dec 30, 2017</td>
                            <td>Added explicit daily full purge of cache DB.</td>
                        </tr>
                        <tr>
                            <td>Dec 30, 2017</td>
                            <td>Rewrite of cache purging done.</td>
                        </tr>
                        <tr>
                            <td>Dec 30, 2017</td>
                            <td>Added Karma to manual exclusions and deletions.</td>
                        </tr>
                        <tr>
                            <td>Dec 30, 2017</td>
                            <td>Added this page.</td>
                        </tr>
                        <tr>
                            <td>Dec 30, 2017</td>
                            <td>Added logging to reddit_connection module.</td>
                        </tr>
                        <tr>
                            <td>Dec 30, 2017</td>
                            <td>Fixed API token validation errors, added a logic gate to prevent invalid tokens from
                                breaking the auto shredder.
                            </td>
                        </tr>
                        <tr>
                            <td>Dec 28, 2017</td>
                            <td>Updated all DataTables to be responsive.</td>
                        </tr>
                        <tr>
                            <td>Dec 26, 2017</td>
                            <td>Added labels to forms for a better experience for those who use screen readers.</td>
                        </tr>
                        <tr>
                            <td>Dec 25, 2017</td>
                            <td>All shredder logic has been verified and implemented.</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}

    {% load staticfiles %}

{% endblock %}
