{% extends "layout_profile.html" %}

{% block content %}

    <div class="container-fluid">
        <div class="row card-columns">
            <div class="card bg-primary mx-4">
                <div class="card-header">Instructions:</div>
                <div class="card-body">
                    <p class="card-text">
                        To manually overwrite and delete a comment, simply click on the red
                        <span class="oi oi-x"></span> next to the comment you wish to delete.
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col table-responsive">
                    {% csrf_token %}
                    <table id="delete" class="table-hover order-column" cellspacing="0" cellpadding="0" width="100%">
                        <thead class="mt-2">
                        <tr>
                            <th></th>
                            <th>Comment Body</th>
                            <th>Karma</th>
                            <th>User Name</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block scripts %}

    {% load staticfiles %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jq-3.2.1/dt-1.10.16/r-2.2.1/datatables.min.js">
    </script>
    <script>
        /* Function to pull reddit API data via internal API request, request must be passed by authed user */
        $(document).ready(function () {
            $('#delete').DataTable({
                'autoWidth': true,
                'responsive': true,
                'processing': true,
                /* Adds the slick gear animation */
                'language': {
                    processing: '<i class="fa fa-gear fa-spin fa-3x fa-fw"></i><span class="sr-only bg-primary"></span> '
                },
                'ajax': {
                    'url': '{% url 'reddit_api_json' %}',
                    'dataSrc': ''
                },
                'columns': [
                    {
                        "data": "cid",
                        /* Creates the links for the POST delete */
                        "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                            $(nTd).html("<a href='?delete=" + oData.cid + "&user_name=" + oData.user_name
                                + "&item_type=" + oData.item_type + "'>"
                                + "<button class='btn btn-danger'>"
                                + "<span class='oi oi-x'></span></button></a>");
                        }
                    },
                    {"data": "body"},
                    {"data": "karma"},
                    {"data": "user_name"}
                ]
            });
        });
    </script>

{% endblock %}
