{% extends "layout_profile.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row card-columns">
            <div class="card bg-primary mx-4">
                <div class="card-header">Instructions:</div>
                <div class="card-body">
                    <p class="card-text">
                        To add an item to your list of exclusions click the plus symbol next to the item you wish to
                        add.<br/>
                        To remove an item from your list of exclusions click the minus symbol next to the item you wish
                        to remove.<br/>
                        To sort the list, click the column header that you would like to sort by.
                    </p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row mt-3">
                <div class="col table-responsive">
                    <table id="exclude" class="table-hover order-column" cellspacing="0" cellpadding="0" width="100%">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Comment Body / Post Title</th>
                            <th>Karma</th>
                            <th>User Name</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}

    {% load staticfiles %}
    <script type="text/javascript"
            src="https://cdn.datatables.net/v/bs4/dt-1.10.16/b-1.5.1/b-colvis-1.5.1/fh-3.1.3/r-2.2.1/datatables.min.js">
    </script>
    <script>
        var excluded = {{ excluded|safe }}
            $(document).ready(function () {
                $('#exclude').DataTable({
                    'autoWidth': true,
                    'responsive': true,
                    'processing': true,
                    /* Adds the slick gear animation */
                    'language': {
                        processing: '<i class="fa fa-gear fa-spin fa-3x fa-fw"></i><span class="sr-only bg-primary"></span> '
                    },
                    'cache': true,
                    'ajax': {
                        'url': '{% url 'reddit_api_json' %}',
                        'dataSrc': ''
                    },
                    'columns': [
                        {
                            'data': 'cid',
                            /* Creates the links for the set / unset POST functions */
                            'fnCreatedCell': function (nTd, sData, oData, iRow, iCol) {
                                if (excluded.indexOf(oData.cid) == -1) {
                                    $(nTd).html("<a href='?set=" + oData.cid + "'>"
                                        + "<button class='btn btn-success'>"
                                        + "<span class='oi oi-plus'></span></button></a>");
                                } else {
                                    $(nTd).html("<a href='?unset=" + oData.cid + "'>"
                                        + "<button class='btn btn-danger'>"
                                        + "<span class='oi oi-minus'></span></button></a>");
                                }
                            }
                        },
                        {"data": "body"},
                        {"data": "karma"},
                        {"data": "user_name"}
                    ]
                });
            });
    </script>

{% endblock %}
