<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A simple WebApp that overwrites and deletes your reddit comments and submissions.
    A schedule can also be set for automatic shredding of your Reddit comments and posts."/>
    <meta name="author" content="Josh Harkema">

    <title>{{ title }} - Reddit Shredder</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'content/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'content/site.min.css' %}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/v/bs4/jq-3.2.1/dt-1.10.16/r-2.2.1/datatables.min.css"
          integrity="sha384-ufSHYXxwpZnuUOCg55ikkv96aAdleITH2Jw5DkweIWUB0rEmD8uEeVyg4fx6DIK0" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
          integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous"/>
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'content/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'content/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'content/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'content/manifest.json' %}">
    <meta name="theme-color" content="#ffffff">
</head>

<body>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary mb-4">
    <a class="navbar-brand" href="/"><span class="oi oi-delete"></span> Online Reddit Shredder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="oi oi-menu"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if request.resolver_match.url_name == "home" %}active{% endif %}">
                <a class="nav-link" href="/">Home{% if request.resolver_match.url_name == "home" %}
                    <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == "shredder" %}active{% endif %}">
                <a class="nav-link" href="/shredder">Shredder{% if request.resolver_match.url_name == "home" %}
                    <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item {% if request.resolver_match.url_name == "changelog" %}active{% endif %}">
                <a class="nav-link" href="/changelog">Changelog{% if request.resolver_match.url_name == "home" %}
                    <span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/simeon4110/reddit-shredder-master/issues">Report a Bug</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item dropdown
                {# Complicated if chain. #}
                {% if request.resolver_match.url_name == "profile" %}active{% endif %}">
                    <a class="nav-link dropdown-toggle" href="/profile" id="dropdown01" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">Profile
                        {% if request.resolver_match.url_name == "home" %}
                            <span class="sr-only">(current)</span>{% endif %}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="/profile">Settings</a>
                        <a class="dropdown-item" href="/profile/logs">Records</a>
                        <a class="dropdown-item" href="/profile/exclude">Saved Items</a>
                        <a class="dropdown-item" href="/profile/delete">Manual Delete</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Register</a>
                </li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="nav-item mt-4 mt-md-0">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            {% else %}
                <li class="nav-item mt-4 mt-md-0">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div class="container-fluid">
        <h1 class="presentation-2 mt-2">{{ title }}</h1>
        <hr style="border-color: white"/>
    </div>
    {% if messages %}
        {% for message in messages %}
            <div{% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == "profile" %}active{% endif %}"
               href="/profile">Settings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == "logs" %}active{% endif %}"
               href="/profile/logs">Records</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == "exclude" %}active{% endif %}"
               href="/profile/exclude">Saved Items</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.resolver_match.url_name == "delete" %}active{% endif %}"
               href="/profile/delete">Delete</a>
        </li>
    </ul>
    {% block content %}{% endblock %}

    <hr class="p-2" style="border-color: white"/>
    <footer>
        <p style="text-align: center">&copy; {{ year }} - Josh Harkema - <strong>Licensed under CC-BY-SA 2.5</strong> -
            <a href="https://creativecommons.org/licenses/by-sa/2.5/ca/">
                https://creativecommons.org/licenses/by-sa/2.5/ca/</a></p>
        <p style="text-align: center">Use of this project is AT YOUR OWN RISK it is still undergoing
            bug fixing and testing.</p>
    </footer>
</main>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
        integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
        integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
{% block scripts %}{% endblock %}

</body>
</html>
