{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <p class="lead">
                    Log in with your credentials below. If you don't have an account, click on the "Register"
                    button to create one. As of now, user's can save their Reddit authorization so there is
                    no need to reauthorize every time the shredder is used. The ability to schedule the shredder
                    is currently being implemented.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 class="display-6">Log In:</h4>
                <form action="." method="post" class="form mx-3">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username" class="control-label">User name</label>
                        {{ form.username }}
                    </div>
                    <div class="form-group">
                        <label for="id_password" class="control-label">Password</label>
                        {{ form.password }}
                    </div>
                    <div class="form-group">
                        <input type="hidden" name="next" value="/profile"/>
                        <input type="submit" value="Log in &raquo;" class="btn btn-primary"/>
                        <a href="/signup" class="btn btn-primary">Register &raquo;</a>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <h4 class="display-6 mb-3">Donate:</h4>
                <p style="font-size: 16px">
                    Want to support this project? Consider making a donation!
                </p>
                <p>Bitcoin (BTC): <a href="bitcoin:1NGacpNa8ysrYgyfBC3rzRP7dKFBWuHZQ8">
                    1NGacpNa8ysrYgyfBC3rzRP7dKFBWuHZQ8</a></p>
                <p>Ethereum (ETH): <a href="ethereum:0x5523D17695b5367367697Bebf2AB14aA985fD98A">
                    0x5523D17695b5367367697Bebf2AB14aA985fD98A</a></p>
                <p>Litecoin (LTC): <a href="litecoin:LgF5yAoQUtxxCTZijidH9fkX4UcNELzddY">
                    LgF5yAoQUtxxCTZijidH9fkX4UcNELzddY</a></p>
                <p style="font-size: 16px">
                    All donations are greatly appreciated, and will go to support the hosting costs this project
                    incurs.
                </p>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}

    {% load staticfiles %}
    <script src="{% static 'scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
